body{
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(91, 183, 236, 0.61);
    color: rgb(0, 0, 0);
    height: 5vh;
    width: 100%;
    font-weight: bold;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
    min-width: 50px;
}
.column {
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height:60vh;
    border-radius: 8px;
}
#pending {
    background-color: #ffecb3;
}
#completed {
    background-color: #c8e6c9;
}
#past-due {
    background-color: #ffcdd2;
}
.create {
    background-color: rgba(91, 183, 236, 0.61);
    color: black;
    border-radius: 8px;
    border-color: rgba(247, 249, 250, 0.61);
    box-shadow:0 0 20px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    cursor: pointer;

}
.ticket {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color:black;
    border-radius: 8px;
    margin-top: 10px;
}
.ticket input, textarea {
    background-color: rgba(255, 255, 255, 0.61);
    border-radius:  8px;
    font-family: Arial, Helvetica, sans-serif;
    border-color:rgba(0, 0, 0, 0.1);
}
.ticket span {
    font-size: small ;
    font-weight: bold;
}
.mark {
    border-radius: 8px;
    background-color:#b7ebb9;
    height: 2vh;
    font-size: x-small;
    border-color: rgba(0, 0, 0, 0.1);
}
.refresh {
    font-size: x-small;
    background-color: #b7ebb9;
    border-color: none;
    border: none;
    border-radius: 8px;
}
.task-info {
    display: flex;
    flex-flow: row wrap;
    color: rgba(0, 0, 0, 0.61);
    justify-content:  center;
}
.assign {
    background-color: rgba(91, 183, 236, 0.61);
    color: black;
    border-radius: 8px;
    border-color: rgba(247, 249, 250, 0.61);
    box-shadow:0 0 20px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    height: 2vh;
    cursor: pointer;
}

@media (max-width:590px) {
    .container {
        flex-direction: column;
        height: 100vh;
    }
}
@media (max-width: 590px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
        height:fit-content
    }
}